<h1 style="color:blue">Management Portal</h1>
<h2><%= link_to "Manage Users", users_path %></h2>
<h2><%= link_to "Manage Subjects", subjects_path %></h2>
<h2><%= link_to "Manage Scores", scores_path %></h2>
<h2><%= link_to "Manage Semesters", semesters_path %></h2>
<h3><%= link_to "Home", home_index_path %></h3>